.button {
  display: grid;
  float: left;
  border: 1px solid #250b63;
  background: #0e3783;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #2f2d35;
  border-color: #6e6c75;
}

.button:focus {
  outline: none;
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}
.background {
  background-color: rgb(248, 248, 248);
  width: 100%;
  display: block;
  height: auto;
  box-sizing: border-box;
  min-height: 100%;
  padding:50px;
  .view-change {
    position: absolute;
    top: 20px;
    right: 50px;
  }
  .card-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    padding: 20px;
    padding-top: 100px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    * {
      flex: 0 0 30%;
    }
  }
}
