// [nz-button] {
//     margin-left: 15%;
//     margin-bottom: 12px;
//     // border-radius: 15px;
//     // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
// }
.backButton{
    border-radius: 15px;
    margin-top: 4%;
    margin-left: 8%;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.addButton{
    border-radius: 15px;
    margin-top: 4%;
    margin-left: 5%;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.deleteButton{
    margin-left: 15%;
    margin-bottom: 12px;
    
}

.infoButton{
    margin-left: 15%;
    margin-bottom: 12px;
    
}
.bg{
    
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.375);
}
// .bg{
//     width: 100%;
// }