<div class="card">
  <h1 class="title">Formation Title</h1>
  <h3 class="date">04/05/2022 - 10/6/2022</h3>
  <div class="tags">
    <p class="tag">tag</p>
    <p class="tag">tag</p>
    <p class="tag">tag</p>
    <p class="tag">tag</p>
    <p class="tag">tag</p>
  </div>

  <p class="paragraph">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda harum
    nisi, a blanditiis optio consequuntur libero commodi dolor accusamus ullam
    dicta tenetur laborum ab nemo eius veniam, ex itaque odit?
  </p>
  <div class="button-container">
    <div class="button primary">S'inscrire</div>
    <div class="button secondary">Plus de details</div>
  </div>
</div>
