.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.116);
  padding: 30px;
  box-sizing: border-box;
  min-width: 300px;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease;
  .title {
    font-weight: 600;
    font-size: 1.6rem;
  }
  .paragraph {
    font-weight: 400;
    font-size: 14px;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    .tag {
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 10px;
      width: auto;
      display: block;
      background-color: rgb(241, 241, 241);
      color: rgb(80, 80, 80);
      font-size: 12px;
    }
  }
  .date {
    color: rgb(6, 28, 59);
    font-weight: 300;
    font-size: 16px;
  }
  .button-container {
    display: flex;
    gap: 10px;
    .button {
      padding: 5px 15px 5px 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
    }
    .button:hover {
        transform: translateY(-5px);
    } 
    .primary{
        background-color: blue;
        color:white;
    }
    .secondary{
        background-color: white;
    }
  }
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
  transform: scale(1.04);
  cursor: pointer;
}
