.bg{
  background-color: rgb(216, 216, 216);
}
.courseImage{
  margin: 2%;
}



.cardTitle{ 
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: "Lucida Handwriting", Times, Cursive;
  color: #110762;
}
.button{
  color: #110762;
  border: #110762 solid 2px;
  border-radius: 10%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.237);
  padding: 5px;
}

.container a{
  color: #ffae00;
}

.login-form__header {
  margin-bottom: 15px;
  position: relative;
  color: #333333;
}

.login-form_bottom{
  text-align: center;
}

.login-form-margin {
  margin-bottom: 14px;
}
.aboutTheCourse{
  font-size: 1.1rem;
  font-weight: 500;
}
.instructorImage{
  margin: 2%;
  border: #333333 solid 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.54);
}
.instructorTitle{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  font-family: "Lucida Handwriting", Times, Cursive;
  color: #110762;
}
.nameLastName{
  font-size: 0.9rem;
  font-weight: 400;
}
.table{
  margin-top: 5%;
  width: 76%;
  margin-left: 12%;

}
.tableTitle{
  text-align: center;
  margin-bottom: 3%;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: "Lucida Handwriting", Times, Cursive;
  color: #ffae00;
  

}
.stateContainer{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 5%;
}
.state{
  font-weight: 600;
  color: #110762;
  
}
.tableContent{
  margin-top: 4%;
}
.cancelButtonContainer{
  align-items: center;
  text-align: center;
}
.cancelButton{
  box-shadow: 0 0 4px #ffae0075;
  border-radius: 20px;
  //width: 20%;
  background-color:#ffae00c6;
  border-color: #ffae00c9;
}
@media(max-width:495px) {

  .login-form{
    margin-top:-35px;
  }
  .instructorImage{
    margin: 2%;
    border: #333333 solid 2px;
    height: 200px;
  }
  .tableTitle{
    font-size: 1.2rem;
  }
  .stateContainer{
    font-size: 0.9rem;
  }
  .table{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
  
  }
  

}
