<div class="m-5" *ngIf="isDataFetched">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="mb-4">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">{{ coursesDetails.name }}</h5>
                <p class="mb-4">description</p>

                <a href="" class="btn btn-sm btn-outline-primary">Enroll</a>
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="..\assets\Images\js.png" height="140" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mb-4">
        <div class="card">
          <h5 class="card-header m-0">About the course</h5>

          <div class="card-body">
            <div>
              <h3 class="text-center">What will you learn ?</h3>
              <div class="m-2">
                <i class="fa-solid fa-fire-flame-simple"></i>
                Conduct an inferential statistical
              </div>
              <div class="m-2">
                <i class="fa-solid fa-fire-flame-simple"></i>
                Enhance a data analysis with applied machine learning
              </div>
              <div class="m-2">
                <i class="fa-solid fa-fire-flame-simple"></i>
                Discern whether a data visualization is good or bad
              </div>
              <div class="m-2">
                <i class="fa-solid fa-fire-flame-simple"></i>
                Analyze the connectivity of a social network
              </div>
              <div class="m-2">
                <i class="fa-solid fa-fire-flame-simple"></i>
                Analyze the connectivity of a social network
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-calendar-days m-2"></i>Date debut

                <h3 class="card-title mb-2">1 mai</h3>
                <small class="text-success fw-semibold"
                ><i class="bx bx-up-arrow-alt"></i> 30.80%</small
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-calendar-days m-2"></i>Date fin

                <h3 class="card-title mb-2">20 mai</h3>
                <small class="text-success fw-semibold"
                ><i class="bx bx-up-arrow-alt"></i> +72.80%</small
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-location-dot m-2"></i>Adresse

                <h3 class="card-title mb-2">Tunis</h3>
                <small class="text-success fw-semibold"
                ><i class="bx bx-up-arrow-alt"></i> +72.80%</small
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-tag m-2"></i>Capacite

                <h3 class="card-title mb-2">12</h3>
                <small class="text-success fw-semibold"
                ><i class="bx bx-up-arrow-alt"></i> 30.80%</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mb-4">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-lg-7">
              <div class="card-body">
                <h5 class="card-title text-primary">
                  How the Specialization Works
                </h5>
                <p class="mb-4">
                  A Coursera Specialization is a series of courses that helps
                  you master a skill. To begin, enroll in the Specialization
                  directly, or review its courses and choose the one you'd like
                  to start with. When you subscribe to a course that is part of
                  a Specialization, you’re automatically subscribed to the full
                  Specialization. It’s okay to complete just one course you can
                  pause your learning or end your subscription at any time.
                  Visit your learner dashboard to track your course enrollments
                  and your progress. Every Specialization includes a hands-on
                  project. You'll need to successfully finish the project(s) to
                  complete the Specialization and earn your certificate. If the
                  Specialization includes a separate course for the hands-on
                  project, you'll need to finish each of the other courses
                  before you can start it. When you finish every course and
                  complete the hands-on project, you'll earn a Certificate that
                  you can share with prospective employers and your professional
                  network.
                </p>
              </div>
            </div>
            <div class="col-lg-5 text-center text-md-left">
              <div class="card-body pb-0 px-0 px-md-4 m-2">
                <img src="..\assets\Images\work.jpg" height="280" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
