<body>
    <div class="container">
        <img nz-image
        width="200px"
        height="100px"
        nzSrc="/assets/Images/medsirat.png"
        alt=""
        class="logo"
        />
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div class="login-form__header"><h1>Login</h1>
        Please fill the form to log into your account
    </div>
    <nz-alert *ngIf="errorMessage.length>0" nzType="error" nzMessage="{{errorMessage}}"></nz-alert>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Email!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Email"  />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="**********" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">

          <div nz-col >
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>
        <br>
        <app-button [text]="textl"></app-button>
      <br>
        <div class="login-form_bottom">
        Don't have an account ?
        <a>Sign up here</a>
    </div>
      </form>
    </div>
    </body>
