body{
    background-color: rgb(216, 216, 216);
}
.container{

  display:grid;
  justify-content: center;
  grid-gap: 4rem;
  padding: 0 2rem;


}
.logo{
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.login-form {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    border-radius: 0.75rem;
}

.container a{
    color: #ffae00;
}

.login-form__header {
    margin-bottom: 15px;
    position: relative;
    color: #333333;
}

.login-form_bottom{
  text-align: center;
}

.login-form-margin {
    margin-bottom: 14px;
}





@media(max-width:495px) {

  .login-form{
    margin-top:-35px;
  }

  }
